.version.infra_tecno /* version checker */
{
	color: #0000FE;
	background-color: #AE6331;
}

.html
{
	background-color: #F5F5F5;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -11px;
	width: 0.01px;
}

#u1333_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#u1377
{
	z-index: 25;
	width: 147px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 100px;
}

#menuu1557
{
	z-index: 27;
	width: 693px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 427px;
}

#u1558
{
	width: 113px;
	min-height: 37px;
	margin-right: -10000px;
}

#u1561
{
	width: 113px;
	padding-bottom: 18px;
}

#u1561:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u1561.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u1562-4
{
	width: 113px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u1561:hover #u1562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u1561.MuseMenuActive #u1562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u1565
{
	width: 114px;
	min-height: 37px;
	margin-right: -10000px;
	left: 180px;
}

#u1568
{
	width: 114px;
	padding-bottom: 18px;
}

#u1568:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1571-4
{
	width: 114px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u1568:hover #u1571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u1579
{
	width: 114px;
	min-height: 37px;
	margin-right: -10000px;
	left: 380px;
}

#u1580
{
	width: 114px;
	padding-bottom: 18px;
}

#u1568.MuseMenuActive,#u1580:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1582-4
{
	width: 100px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u1580:hover #u1582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1583
{
	z-index: 46;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 11px;
	left: 100px;
}

#u1580:hover #u1583
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1584
{
	width: 462px;
	top: 37px;
}

#u2076
{
	width: 462px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2076:hover
{
	width: 462px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2078-4
{
	width: 454px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u2076:hover #u2078-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 454px;
	margin: 0px -10000px 0px 0px;
}

#u1633
{
	width: 462px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2076.MuseMenuActive,#u1633:hover
{
	width: 462px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1635-4
{
	width: 454px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u2076.MuseMenuActive #u2078-4,#u1633:hover #u1635-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 454px;
	margin: 0px -10000px 0px 0px;
}

#u1645
{
	width: 462px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u1633.MuseMenuActive,#u1645:hover
{
	width: 462px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1646-4
{
	width: 454px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u1633.MuseMenuActive #u1635-4,#u1645:hover #u1646-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 454px;
	margin: 0px -10000px 0px 0px;
}

#u1650
{
	width: 462px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u1645.MuseMenuActive,#u1650:hover
{
	width: 462px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1653-4
{
	width: 454px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 5px;
	left: 2px;
}

#u1645.MuseMenuActive #u1646-4,#u1650:hover #u1653-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 454px;
	margin: 0px -10000px 0px 0px;
}

#u1585,#u2073,#u1632,#u1642,#u1649,#u1656
{
	width: 462px;
}

#u1657
{
	width: 462px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u1650.MuseMenuActive,#u1657:hover
{
	width: 462px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1657.MuseMenuActive
{
	width: 462px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1660-4
{
	width: 454px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u1650.MuseMenuActive #u1653-4,#u1657:hover #u1660-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 454px;
	margin: 0px -10000px 0px 0px;
}

#u1657.MuseMenuActive #u1660-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 454px;
	margin: 0px -10000px 0px 0px;
}

#u1572
{
	width: 114px;
	min-height: 37px;
	margin-right: -10000px;
	left: 347px;
}

#u1573
{
	width: 114px;
	padding-bottom: 18px;
}

#u1580.MuseMenuActive,#u1573:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1576-4
{
	width: 100px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u1580.MuseMenuActive #u1582-4,#u1573:hover #u1576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1573.MuseMenuActive #u1576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1574
{
	z-index: 85;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 11px;
	left: 100px;
}

#u1580.MuseMenuActive #u1583,#u1573:hover #u1574
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1573.MuseMenuActive #u1574
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1577
{
	width: 346px;
	top: 37px;
}

#u1578
{
	width: 346px;
}

#u1578:hover
{
	width: 346px;
	min-height: 0px;
	margin: 0px;
}

#u2383
{
	width: 346px;
	padding-bottom: 1px;
}

#u2384
{
	width: 345px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2384:hover
{
	width: 345px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2384.MuseMenuActive
{
	width: 345px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2386-4
{
	width: 336px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u2384:hover #u2386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 336px;
	margin: 0px -10000px 0px 0px;
}

#u2384.MuseMenuActive #u2386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 336px;
	margin: 0px -10000px 0px 0px;
}

#u1586
{
	width: 114px;
	min-height: 37px;
	margin-right: -10000px;
	left: 463px;
}

#u1587
{
	width: 114px;
	padding-bottom: 18px;
}

#u1573.MuseMenuActive,#u1587:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1589-4
{
	width: 114px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u1568.MuseMenuActive #u1571-4,#u1587:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u1594
{
	width: 114px;
	min-height: 37px;
	margin-right: -10000px;
	left: 579px;
}

#u1595
{
	width: 114px;
	padding-bottom: 18px;
}

#u1587.MuseMenuActive,#u1595:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1595.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1596-4
{
	width: 114px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u1587.MuseMenuActive #u1589-4,#u1595:hover #u1596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u1595.MuseMenuActive #u1596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u1333,#u1333-bw
{
	z-index: 24;
	min-height: 121px;
}

#pu2654-4
{
	width: 0.01px;
	margin-top: 55px;
}

#u2654-4
{
	z-index: 15;
	width: 408px;
	min-height: 37px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 26px;
	letter-spacing: 3px;
	font-size: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u2656
{
	z-index: 19;
	width: 312px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u2655
{
	z-index: 20;
	width: 333px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 687px;
}

#pu2657
{
	width: 0.01px;
	margin-left: -30px;
	margin-top: 32px;
}

#u2657
{
	z-index: 21;
	width: 25px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
}

.ie #u2657
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2672
{
	z-index: 22;
	width: 640px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 30px;
}

#u2653-13
{
	z-index: 2;
	width: 354px;
	min-height: 234px;
	background-color: transparent;
	color: #282828;
	text-align: justify;
	font-size: 16px;
	line-height: 35px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 696px;
}

#u1859
{
	z-index: 106;
	min-height: 57px;
	padding-bottom: 16px;
}

#u1859_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
	margin-bottom: -1px;
}

#u1860-4
{
	z-index: 107;
	width: 469px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 120px;
}

#buttonu2756
{
	z-index: 111;
	width: 201px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 919px;
}

#buttonu2756:hover
{
	width: 201px;
	height: 42px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#buttonu2756.ButtonSelected
{
	width: 201px;
	height: 42px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u1859-bw
{
	z-index: 106;
	min-height: 57px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

